body {
  text-align: center;
}
.one {
  border-style: solid;
}
.two {
  border-style: dotted;
}
.three {
  border-style: dashed;
}
.four {
  border-style: double;
}
.five {
  border-style: groove;
}
.six {
  border-style: ridge;
}
.seven {
  border-style: inset;
}
.eight {
  border-style: outset;
}

.nine {
  border-style: solid;
  border-color: #0088dd;
}

.ten {
  border-style: solid;
  border-color: #bbbbaa#111111#ee3e80#0088dd;
}

.eleven {
  width: 250px;
  border: 3px dotted blue;
}

p {
  width: 275px;
  border: 20px solid #0088dd;
  padding: 50px;
}
.example {
  margin: 10px auto 10px auto;
  text-align: left;
}

li {
  display: inline;
  margin-right: 10px;
}

.coming-soon {
  display: none;
}

.hidden {
  visibility: hidden;
}
