.description {
  min-width: 450px;
  max-width: 650px;
  text-align: left;
  padding: 5px; /*padding is the space between the text within the div and the borders of the div
  /*this is how u comment in CSS margin = 0px; margin is the space between 2 divs*/
}
