body{
width: 1000px;font-family: Arial, Verdana,sans-serif;color: #665544;
}

h1{
position: relative;top: 0px;left: 0px;padding: 10px;margin: 0px;width: 100%;background-color: #efefef;
}

.column1of2
{
  float: left;width: 700px;margin: 10px;
}

.column2of2
{
  float: left;width: 250px;margin: 10px;
}
